/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(bold.png);
}
.markItUp .markItUpButton2 a {
	background-image:url(italic.png);
}
.markItUp .markItUpButton3 a {
	background-image:url(stroke.png);
}

.markItUp .markItUpButton4 a {
	background-image:url(list-bullet.png); 
}
.markItUp .markItUpButton5 a {
	background-image:url(list-numeric.png);
}

.markItUp .markItUpButton6 a {
	background-image:url(picture.png); 
}
.markItUp .markItUpButton7 a {
	background-image:url(link.png);
}

.markItUp .markItUpButton8 a {
	background-image:url(clean.png);
}
.markItUp .preview a {
	background-image:url(preview.png);
}
