/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markdown .markItUpButton1 a {
	background-image:url(h1.png); 
}
.markdown .markItUpButton2 a {
	background-image:url(h2.png); 
}
.markdown .markItUpButton3 a {
	background-image:url(h3.png); 
}
.markdown .markItUpButton4 a {
	background-image:url(h4.png); 
}
.markdown .markItUpButton5 a {
	background-image:url(h5.png); 
}
.markdown .markItUpButton6 a {
	background-image:url(h6.png); 
}

.markdown .markItUpButton7 a {
	background-image:url(bold.png);
}
.markdown .markItUpButton8 a {
	background-image:url(italic.png);
}

.markdown .markItUpButton9 a {
	background-image:url(list-bullet.png);
}
.markdown .markItUpButton10 a {
	background-image:url(list-numeric.png);
}

.markdown .markItUpButton11 a {
	background-image:url(picture.png); 
}
.markdown .markItUpButton12 a {
	background-image:url(link.png);
}

.markdown .markItUpButton13 a	{
	background-image:url(quotes.png);
}
.markdown .markItUpButton14 a	{
	background-image:url(code.png);
}

.markdown .preview a {
	background-image:url(preview.png);
}